@model IEnumerable<Absence.Models.T_Responsable>

<h2>Responsables</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Créer un responsable</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nom</td>
                <td>@item.Prenom</td>
                <td>@item.Mail</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CodeResponsable" class="btn btn-warning">Modifier</a>
                    <a asp-action="Delete" asp-route-id="@item.CodeResponsable" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>

