@model IEnumerable<Absence.Models.T_Etudiant>

<h2>Students</h2>
<a asp-action="Create" class="btn btn-primary">Ajouter un nouvel étudiant</a>

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Classe</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Nom @student.Prenom</td>
                <td>@student.Classe.NomClasse</td>
                <td>@student.Mail</td>
                <td>@student.Tel</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@student.CodeEtudiant" class="btn btn-warning">Modifier</a>
                    <a asp-action="Delete" asp-route-id="@student.CodeEtudiant" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>