@model IEnumerable<Absence.Models.T_Matiere>

<h2>Matières</h2>
<a asp-action="Create" class="btn btn-primary">Ajouter une nouvelle matière</a>

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Heures (Cours/TD/TP)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subject in Model)
        {
            <tr>
                <td>@subject.NomMatiere</td>
                <td>@subject.NbrHeureCoursParSemaine / @subject.NbrHeureTDParSemaine / @subject.NbrHeureTPParSemaine</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@subject.CodeMatiere" class="btn btn-warning">Modifier</a>
                    <a asp-action="Delete" asp-route-id="@subject.CodeMatiere" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
